<!doctype html>
<html>
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<!-- CSS for Growl like notifications -->
	<link rel="stylesheet" href="css/jquery.gritter.css">
	<!-- Theme CSS -->
	<!--[if !IE]> -->
	<link rel="stylesheet" href="css/style.css">
	<!-- <![endif]-->
	<!--[if IE]>
	<link rel="stylesheet" href="css/style_ie.css">
	<![endif]-->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- smoother animations -->
	<script src="js/jquery.easing.min.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Scrollable navigation -->
	<script src="js/jquery.nicescroll.min.js"></script>
	<!-- Growl Like notifications -->
	<script src="js/jquery.gritter.min.js"></script>

	<!-- Just for demonstration -->
	<script src="js/demonstration.min.js"></script>
	<!-- Theme framework -->
	<script src="js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="js/application.min.js"></script>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />

</head>

<body data-layout="fixed">
	<div id="top"> 
		<div class="container-fluid">
			<div class="pull-left">
				<a href="#" id="brand"><span></span>ease</a>
				<div class="collapse-me">
					<a href="messages.html" class="button">
						<i class="icon-comment icon-white"></i>
						Messages
						<span class="badge badge-important">21</span>
					</a>
					<a href="#" class="button">
						<i class="icon-question-sign icon-white"></i>
						Support tickets
						<span class="badge badge-info">3</span>
					</a>
					<a href="#" class="button">
						<i class="icon-truck icon-white"></i>
						Orders
						<span class="badge badge-default">5</span>
					</a>
				</div>
			</div>
			<div class="pull-right">
				<div class="btn-group">
					<a href="#" class="button dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-user"></i>John Doe<span class="caret"></span></a>
					<div class="dropdown-menu pull-right">
						<div class="right-details">
							<h6>Logged in as</h6>
							<span class="name">John Doe</span>
							<span class="email">john.doe@example.com</span>
							<a href="#" class="highlighted-link">Need help?</a>
							<ul>
								<li>
									<a href="#">Getting started</a>
								</li>
								<li>
									<a href="#">Account settings</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a href="index.html" class="button">
					<i class="icon-signout"></i>
					Logout
				</a>
			</div>
		</div>
	</div>

	<div id="main">
		<div id="navigation">
			<div class="search">
				<i class="icon-search icon-white"></i>
				<form action="search-page.html" method="get">
					<input type="text" placeholder="Search here" />
				</form>
				<div class="dropdown">
					<a href="#" class='search-settings dropdown-toggle' data-toggle="dropdown"><i class="icon-cog icon-white"></i></a>
					<ul class="dropdown-menu">
						<li class='sort-by'>
							Sort by <span class='filter'>Categories</span> <span class="order">A-Z</span>
						</li>
						<li class="heading">
							Filter categories
						</li>
						<li class='filter active'>
							Categories
						</li>
						<li class="filter">
							Countries
						</li>
						<li class="filter">
							Likes
						</li>
						<li class="heading">
							Sorting order
						</li>
						<li class='order active'>
							Ascending
						</li>
						<li class="order">
							Descending
						</li>
					</ul>
				</div>
			</div>

			<ul class="mainNav" data-open-subnavs="multi">
				<li>
					<a href="dashboard.html"><i class="icon-home icon-white"></i><span>Dashboard</span></a>
				</li>
				<li>
					<a href="#"><i class="icon-edit icon-white"></i><span>Forms</span><span class="label">4</span></a>
					<ul class="subnav">
						<li>
							<a href="basic-forms.html">Basic forms</a>
						</li>
						<li>
							<a href="extended-forms.html">Extended form elements</a>
						</li>
						<li>
							<a href="form-validation.html">Form validation</a>
						</li>
						<li>
							<a href="form-wizard.html">Form wizard</a>
						</li>
					</ul>
				</li>
				<li class='active open'>
					<a href="#"><i class="icon-th-large icon-white"></i><span>Components</span><span class="label">7</span></a>
					<ul class="subnav">
						<li>
							<a href="messages.html">Messages &amp; Chat</a>
						</li>
						<li>
							<a href="gallery.html">Gallery &amp; thumbs</a>
						</li>
						<li>
							<a href="icons-buttons.html">Icons &amp; buttons</a>
						</li>
						<li>
							<a href="ui-elements.html">UI Elements</a>
						</li>
						<li class='active'>
							<a href="typography.html">Typography</a>
						</li>
						<li>
							<a href="bootstrap-elements.html">Bootstrap elements</a>
						</li>
						<li>
							<a href="grid.html">Grid</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="charts.html"><i class="icon-signal icon-white"></i><span>Charts</span></a>
				</li>
				<li>
					<a href="tables.php"><i class="icon-th-list icon-white"></i><span>Tables</span></a>
				</li>
				<li>
					<a href="error-pages.html"><i class="icon-warning-sign icon-white"></i><span>Error Pages</span></a>
				</li>
				<li>
					<a href="calendar.html"><i class="icon-calendar icon-white"></i><span>Calendar</span></a>
				</li>
				<li>
					<a href="file-management.html"><i class="icon-hdd icon-white"></i><span>File management</span></a>
				</li>
				<li>
					<a href="#"><i class="icon-th icon-white"></i><span>More pages</span><span class="label">4</span></a>
					<ul class="subnav">
						<li>
							<a href="invoice.html">Invoice</a>
						</li>
						<li>
							<a href="search-page.html">Search page</a>
						</li>
						<li>
							<a href="user-profile.html">User profile</a>
						</li>
						<li>
							<a href="blank-page.html">Blank page</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="status button">
				<div class="status-top">
					<div class="left">
						Saving changes...
					</div>
				</div>
				<div class="status-bottom">
					<div class="progress">
						<div class="bar" style="width:60%">60%</div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="content">
			<div class="page-header">
				<div class="pull-left">
					<h4><i class="icon-reorder"></i> Typography</h4>
				</div>
				<div class="pull-right">
					<ul class="bread">
						<li><a href="dashboard.html">Home</a><span class="divider">/</span></li>
						<li><a href="messages.html">Components<span class="divider">/</span></a></li>
						<li class='active'>Typography</li>
					</ul>
				</div>
			</div>
			
			<div class="container-fluid" id="content-area">
				<div class="row-fluid">
					<div class="span6">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Headings</span>
							</div>
							<div class="box-body">
								<h1>h1. Heading 1</h1>
								<h2>h2. Heading 2</h2>
								<h3>h3. Heading 3</h3>
								<h4>h4. Heading 4</h4>
								<h5>h5. Heading 5</h5>
								<h6>h6. Heading 6</h6>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Blockquotes</span>
							</div>
							<div class="box-body">
								<blockquote>
									<p>
										Lorem ipsum velit ullamco anim pariatur proident eu deserunt laborum. Lorem ipsum ad in nostrud adipisicing cupidatat anim officia ad id cupidatat veniam quis elit ullamco Excepteur ullamco.
									</p>
									<small>@JohnDoe</small>
								</blockquote>
								<blockquote class="pull-right">
									<p>
										Lorem ipsum velit ullamco anim pariatur proident eu deserunt laborum. Lorem ipsum ad in nostrud adipisicing cupidatat anim officia ad id cupidatat veniam quis elit ullamco Excepteur ullamco.
									</p>
									<small>@JohnDoe</small>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Lists</span>
							</div>
							<div class="box-body">
								<div class="row-fluid">
									<div class="span3">
										<h4>Unordered</h4>
										<ul>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
										</ul>
									</div>
									<div class="span3">
										<h4>Ordered</h4>
										<ol>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
										</ol>
									</div>
									<div class="span3">
										<h4>Unstyled</h4>
										<ul class='unstyled'>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
										</ul>
									</div>
									<div class="span3">
										<h4>Inline</h4>
										<ul class='inline'>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
											<li>Lorem ipsum labore</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Descriptions</span>
							</div>
							<div class="box-body">
								<div class="row-fluid">
									<div class="span6">
										<h4>Default</h4>
										<dl>
											<dt>Lorem ipsum</dt>
											<dd>
												Lorem ipsum et velit occaecat commodo do Excepteur officia sint reprehenderit voluptate.
											</dd>
											<dt>Lorem ipsum</dt>
											<dd>
												Lorem ipsum et velit occaecat commodo do Excepteur officia sint reprehenderit voluptate.
											</dd>
										</dl>
									</div>
									<div class="span6">
										<h4>Horizontal</h4>
										<dl class='dl-horizontal'>
											<dt>Lorem ipsum</dt>
											<dd>
												Lorem ipsum et velit occaecat commodo do Excepteur officia sint reprehenderit voluptate.
											</dd>
											<dt>Lorem ipsum</dt>
											<dd>
												Lorem ipsum et velit occaecat commodo do Excepteur officia sint reprehenderit voluptate.
											</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Pre</span>
							</div>
							<div class="box-body"><pre>&lt;p&gt;Lorem ipsum Excepteur commodo ex...&lt;/p&gt;</pre></div>
						</div>
					</div>
					<div class="span6">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Code</span>
							</div>
							<div class="box-body"><p>
									<code>Basic code block</code>
								</p>
								<p>
									Embedded code
									<code>block</code>
									.
								</p></div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Address</span>
							</div>
							<div class="box-body">
								<address> <strong>John Doe, Inc.</strong>
									<br>
									7195 JohnsonDoes Ave, Suite 320
									<br>
									San Francisco, CA 881234
									<br> <abbr title="Phone">P:</abbr>
									(123) 456-7890
								</address>

								<address> <strong>Full Name</strong>
									<br>
									<a href="mailto:#">johne.doe@johndoemail.com</a>
								</address>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="box">
							<div class="box-head">
								<i class="icon-font"></i>
								<span>Abbreviations</span>
							</div>
							<div class="box-body">
								<p>
									For expanded text on long hover of an abbreviation, include the
									<code>title</code>
									attribute.
								</p>
								<p>
									<pre>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</pre>
								</p>
								<p>
									Add
									<code>.initialism</code>
									to an abbreviation for a slightly smaller font-size.
								</p>
								<p>
									<pre><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</pre>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="navi-functions">
		<div class="btn-group btn-group-custom">
			<a href="#" class="button button-square layout-not-fixed notify" rel="tooltip" title="Toggle fixed-nav" data-notify-message="Fixed nav is now {{state}}" data-notify-title="Toggled fixed nav">
				<i class="icon-unlock"></i>
			</a>
			<a href="#" class="button button-square layout-not-fluid notify button-active" rel="tooltip" title="Toggle fixed-layout" data-notify-message="Fixed layout is now {{state}}" data-notify-title="Toggled fixed layout">
				<i class="icon-exchange"></i>
			</a>
			<a href="#" class="button button-square notify notify-inverse layout-no-nav" rel="tooltip" title="Toggle navigation" data-notify-message="Navigation is now {{state}}" data-notify-title="Toggled navigation">
				<i class="icon-arrow-left"></i>
			</a>
			<a href="#" class="button button-square button-active force-last notify-toggle toggle-active notify" rel="tooltip" title="Toggle notification"  data-notify-message="Notifications turned {{state}}" data-notify-title="Toggled notifications">
				<i class="icon-bullhorn"></i>
			</a>
		</div>
	</div>
	
</body>
</html>

